body {
    background-color: #2b2b2b;
}

h1 {
    display: inline;
    font-family: 'Titillium Web', sans-serif;
    border-bottom: red 10px solid;
}

#name {
    color: whitesmoke;
    font-size: 40px;
    margin-top: 8em;
    text-align: center;
}