h1 {
    display: inline;
    font-family: 'Titillium Web', sans-serif;
}

#name {
    color: whitesmoke;
    font-size: 40px;
    margin-top: 5em;
    text-align: center;
}

#line {
    margin: 0 auto;
    width: 35%;
    height: 8px;
    background-color: red;
}