.pass {
    display: block;
    height: 30em;
    padding: 50px 100px;
}

.pass_title {
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.main_image img {
    height: 30em;
    float: left;
    padding-right: 40px;
}

.side_links ul {
    list-style-type: none;
    padding: 0;
}

.side_links ul li {
    padding-top: 2em;
}

.side_links ul li a {
    font-size: 40px;
    margin-left: 40px;
    color: black;
}

.seperator {
    width: 100%;
    height: 2px;
    background-color: black;
}