body {
    background-color: whitesmoke;
}

.pass {
    display: flex;
    height: auto;
    padding: 5vh 0;
    padding-left: 3vw;
}

.pass_title {
    font-size: 3vw;
    padding: 0;
    margin: 0;
}

.main_image {
    width: 35vw;
}

.main_image img {
    width: inherit;
    padding-right: 100px;
}

.container {
    margin-left: 20px;
}

.side_links {
    margin-left: 3vw;
}

.side_links ul {
    list-style-type: none;
    padding: 0;
}

.side_links ul li {
    padding-top: 1vh;
}

.side_links ul li a {
    font-size: 2vw;
    color: black;
}

.seperator {
    width: 100%;
    height: 2px;
    background-color: black;
}